.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.btnRegister {
  margin-left: 1em;
  margin-right: 1em;
}

.btnSign {
  margin-left: 1em;
  margin-right: 1em;
}
